<a href="https://colab.research.google.com/github/shubhamg2205/6857-proj/blob/main/Copy_of_Copy_of_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
import sklearn.preprocessing

In [5]:
df=pd.read_csv('/content/drive/MyDrive/CustomerData_project_genpact/orders_categories_time.csv')
df.head()

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
0,0,0,45,23.03,4,13,9.46,87.06,3.48,0.00,0.00,0.00,0.0,0.0
1,0,1,38,1.22,5,13,15.87,75.80,6.22,2.12,0.00,0.00,0.0,0.0
2,0,2,51,18.08,4,13,16.88,56.75,3.37,16.48,6.53,0.00,0.0,0.0
3,1,3,57,16.51,1,12,28.81,35.99,11.78,4.62,2.87,15.92,0.0,0.0
4,1,4,53,18.31,2,11,24.13,60.38,7.78,7.72,0.00,0.00,0.0,0.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df=df.drop(columns=['order'])

In [ ]:
df.head()

In [ ]:
for i in df.columns:
  print(df[i].value_counts())

In [ ]:
scaler = sklearn.preprocessing.MinMaxScaler()
features_normal = scaler.fit_transform(df)

In [ ]:
df_scaled=pd.DataFrame(features_normal,columns=df.columns)
df_scaled.head()

In [ ]:
wcss=[]

for i in range(1,20):
  kmeans=KMeans(n_clusters=i,init='k-means++',random_state=90)
  kmeans.fit(features_normal)

  wcss.append(kmeans.inertia_)

In [ ]:
#plot elbow graph 
sns.set()
plt.plot(range(1,20),wcss,'bx-')
plt.title('The Graph')
plt.xlabel('No of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
kmeans=KMeans(n_clusters=3,init='k-means++',random_state=4)
Y=kmeans.fit_predict(features_normal)

In [ ]:
labels = pd.DataFrame(kmeans.labels_) #This is where the label output of the KMeans we just ran lives. Make it a dataframe so we can concatenate back to the original data
df_labels = pd.concat((df,labels),axis=1)
df_labels= df_labels.rename({0:'labels'},axis=1)

In [ ]:
df_labels.head()

In [ ]:
sns.scatterplot(x='customer',y='total_items',data=df_labels,hue='labels',palette='bright',edgecolor='none')

In [ ]:
sns.barplot(df_labels['labels'],df['Health%']);

In [ ]:
sns.barplot(df_labels['labels'],df['total_items']);

In [ ]:
sns.boxplot(data=df_labels,x='labels',y='weekday');

In [ ]:
sns.boxplot(data=df_labels,x='labels',y='Baby%',showfliers=False);

In [ ]:
sns.boxplot(data=df_labels,x='labels',y='discount%',showfliers=False);

In [ ]:
sns.distplot(x=df_labels['hour'],kde=False)

In [ ]:
labeled=df_labels.to_csv('customer_data_with_labels.csv',index=False)

In [ ]:
label = pd.DataFrame(kmeans.labels_) #This is where the label output of the KMeans we just ran lives. Make it a dataframe so we can concatenate back to the original data
df_pca = pd.concat((df_scaled,labels),axis=1)
df_pca= df_pca.rename({0:'labels'},axis=1)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(df_pca)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['col1', 'col2'])

In [ ]:
principalDf.head()

In [ ]:
finalDf = pd.concat([principalDf, df_labels[['labels']]], axis = 1)
finalDf.head()

In [ ]:
sns.scatterplot(x='col1',y='col2',data=finalDf,hue='labels',palette='bright',edgecolor='none')

In [ ]:
df_corr=df.corr()

In [ ]:
sns.heatmap(df_corr,annot=False)